{{#each totalfolder}}
    <section class="ui stacked segment">
        <h2 class="ui header">
            {{title}} ( {{pictures.length}} )
        </h2>
        <a href="/folder/{{id}}" class="ui icon button">
            <i class="icon folder open"></i>
        </a>
    </section>
{{/each}}