<div class="ui card">
    <div class="ui small center aligned image">
        <img src="{{img}}">
    </div>
    <div class="content">
        <p class="center aligned header">{{title}}</p>
        <div class="center aligned meta">
            <a href="/dashboard/deletepicture?img={{img}}" class="ui icon button">
                <i class="trash icon"></i>
            </a>
        </div>
    </div>
</div>