{{#each Bookmarks}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{title}} ( {{pictures.length}} )
    </h2>
    <a href="/folder/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
  <td>
    <a href="deletefile/{{id}}" class="ui icon button">
  <i class="icon trash"></i>
    </a>
  </td>
</a>
      <a href = >
      <button class="ui blue submit button">Public</button>
      <button class="ui blue submit button">Private</button>
      </a>
  </section>

{{/each}}