{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
    <h1>Author and Location</h1>
  <div class="ui red segment">
      <h2>Name?</h2>
      <p> My name is Micheal Dunne I am a student at Waterford Institute of Technology</p>
</div>
  <div class="ui blue segment">
    <h2>Why did you do this page?</h2>
    <p>This project is for college</p>
  </div>
  <div class="ui green segment">
    <h2>Where are you located?</h2>
    <p> I am located in waterford as seen in the map below</p>
  </div>
  <div class="ui orange segment">
    <h2>How can I contact you?</h2>
    <p> You can contact me through my E-mail-email-located here.</p>
  </div>
<br></br>
  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCoskMBjPPLtpZhv9XWDuTe48XPk5MgyRo
    &q=Waterford+Institute+of+Technology" allowfullscreen>
</iframe>
<br></br>
  <h1>Form</h1>
<form>
        <input type="text" maxlength="100" placeholder="Comments">
        <button type="submit">Submit</button>
      </form>
      <h1> Comments </h1>
      <section class="forms">
        <ui id="forms">
        </ui>
      </section> 
    </main>
    <script src="/client.js"></script>
</section>
