{{> menu id="dashboard"}}

<section class="ui segment">
  {{> listfolders}}
    {{> addfolder}}
</section>
<section class="ui segment">
    <h1 class="ui center aligned header">All Public Folders</h1>
    {{> allfolders}}
</section>>