{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Computer Websites
  </h1>
  <p>
    A small app for development tools.
  </p> 
  <p> 
  The Number of folders are: 3
  </p>
</section>